@page "/Addresses/"

<h1>Address List</h1>

<p>
    <a href="Addresses/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                HouseNumber
            </th>
            <th>
                HouseName
            </th>
            <th>
                RoadName
            </th>
            <th>
                PostTown
            </th>
            <th>
                Postcode
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        
    @foreach (var item in Addresses) 
    {
        <tr>
            <td>
                @item.HouseNumber
            </td>
            <td>
                @item.HouseName
            </td>
            <td>
                @item.RoadName
            </td>
            <td>
                @item.PostTown
            </td>
            <td>
                @item.Postcode
            </td>
            <td>
                <a href="/Addresses/Edit/@item.AddressId">Edit</a> |
                <a href="/Addresses/Details/@item.AddressId">Details</a> |
                <a href="/Addresses/Delete/@item.AddressId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@code
{
    private List<Address> Addresses = new List<Address>()
    {
        new Address()
        {
            AddressId = 1, HouseNumber = 4, RoadName="High Street", 
            PostTown = "Watford", Postcode="WD5 8TY"
        },
        new Address()
        {
            AddressId = 2, HouseNumber = 40, RoadName="Main Road", 
            PostTown = "Watford", Postcode="WD5 8TZ"
        },
    };
}
