@page "/Addresses/Index"
@inject AddressService addressService
@inject AddressesController controller;

<h3>Customer Addresses</h3>
<p>
    <a class="btn btn-primary" href="Addresses/Create">Add New Address</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>House No</th>
            <th>House Name</th>
            <th>Road Name</th>
            <th>Town</th>
            <th>Postcode</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
    @foreach (var item in Addresses) 
    {
        <tr>
            <td>
                @item.HouseNumber
            </td>
            <td>
                @item.HouseName
            </td>
            <td>
                @item.RoadName
            </td>
            <td>
                @item.PostTown
            </td>
            <td>
                @item.Postcode
            </td>
            <td>
                <a class="btn btn-success" href="/Addresses/Edit/@item.AddressId">Edit</a> 
                <a class="btn btn-info" href="/Addresses/Details/@item.AddressId">View</a> 
                <a class="btn btn-danger" href="/Addresses/Delete/@item.AddressId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@code
{
    public List<Address> Addresses { get; set; }

    //private AddressesController controller;

    protected override void OnInitialized()
    {
        Addresses = controller.GetAddresses();
        //Addresses = addressService.GetAddresses();
    }

}